---
import TableOfContents from "@astrojs/starlight/components/TableOfContents.astro";
import {TextScaler}  from 'astro-nebula-ui';
import {NebulaSlider} from 'astro-nebula-ui';
---

<div style="display: flex; align-items: center; gap: 1rem; width: 100%;">
  <TextScaler/>
  <NebulaSlider />
</div>
<TableOfContents/>
